# Reactor mandatory settings
REACTOR_NAME=hello_world

# Reactor optional settings
# REACTOR_DESCRIPTION=
# REACTOR_WORKERS=1
# REACTOR_PRIVILEGED=0
# REACTOR_STATELESS=0
# REACTOR_USE_UID=0
# REACTOR_ALIAS=aka_reactor_demo

# Docker settings
DOCKER_HUB_ORG=your_dockerhub_username
DOCKER_IMAGE_TAG=hello_world
DOCKER_IMAGE_VERSION=0.1
